@Styles.Render("~/bundles/lugares_addCSS")
@model BackOffice_COCO_TRIP.Datos.Entidades.Localidad

@{
    ViewBag.Title = "Localidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Localidad </h2>

@using (Html.BeginForm("Create", "M8_Localidad", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-5">
        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "label label-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descripcion, null, new { @class = "label label-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Coordenadas, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-5">
        @Html.EditorFor(model => model.Coordenadas, new { htmlAttributes = new { @class = "disabledClass", @id = "coords" }})
        @Html.ValidationMessageFor(model => model.Coordenadas, null, new { @class = "label label-danger" })
      </div>
      <div id="map" class="text-center"></div>
    </div>


    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Crear Localidad" class="btn btn-default" />
      </div>
    </div>
  </div>
}


@section scripts {
  @Scripts.Render("~/bundles/Localidad_insert-coordsJS")
  @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyBLZJfuHODaUCPcVW8GwMW6nCXcm3SldgY&callback=initMap")
}
