@using BackOffice_COCO_TRIP.Helpers
@model BackOffice_COCO_TRIP.Models.Categories
<div class="card color-texto">
    <div class="container-fluid pad-top">
        <h4>Ingrese los datos:</h4>
        <hr>
         @{

          var MyList = new List<BackOffice_COCO_TRIP.Models.Categories>(){
            new BackOffice_COCO_TRIP.Models.Categories(){Id=1, Name="UK"},
            new BackOffice_COCO_TRIP.Models.Categories(){Id=2, Name="VE"}

        };
      }

      @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
      {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
          @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 control-label" })
          <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Name, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group row">
          @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-sm-2 control-label" })
          <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Description, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group row">
          @Html.Label("Mover a la categoria", htmlAttributes: new { @class = "col-sm-2 control-label" })
          <div class="col-sm-10">
            @Html.DropDownList("Mover a la categoria", MyList , htmlAttributes: new { @class = "form-control" })
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary pull-right">Editar Categoría</button>
          </div>
        </div>

      }

    </div>
</div>


