@Styles.Render("~/bundles/lugares_activityCSS")

<div class="content-page-actividad card">

  <!---->

  @foreach (var actividad in Model)
  {

  <div class="row">
    <div class="title-actividad" align="center">
      @actividad.Nombre
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="content-image-actividad">
        <img src="@actividad.Foto.Ruta" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Duraci&oacute;n:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            @Convert.ToInt32(actividad.Duracion.TotalMinutes) minutos
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Estado:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            @if (actividad.Activar) { <text>Activo</text> } else { <text>Inactivo</text> }
          </div>
        </div>

      </div>

      <div class="row">
        <div class="title-descripcion-actividad">Descripci&oacute;n</div>
        <div class="text-descripcion-actividad">
          @actividad.Descripcion
        </div>
      </div>
    </div>
  </div>


  <hr>

  }

  <!---->


  <br>

  <div class="row" align="center">
    <a href="@Url.Action("LugarDetail", "Lugares", new { id = Model[0].Id })">
      <button class="btn btn-lugar-turistico-actividad">Regresar</button>
    </a>
  </div>

</div>
