@Styles.Render("~/bundles/lugares_activityCSS")

<div class="content-page-actividad card">

  <!---->

  <div class="row">
    <div class="title-actividad" align="center">
      Paseo en lanchas a pedal
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="content-image-actividad">
        <img src="@Url.Content("~/Images/Lugares/lanchitas.jpg")" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Duraci&oacute;n:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            3 horas
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Estado:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            Activo
          </div>
        </div>

      </div>

      <div class="row">
        <div class="title-descripcion-actividad">Descripci&oacute;n</div>
        <div class="text-descripcion-actividad">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus reiciendis repellendus perspiciatis doloremque neque, totam quos cupiditate saepe, qui? Dolorem officia provident sit aut. Dolorum placeat iure aut ipsa impedit repellendus est tenetur velit quas illo suscipit sit, saepe nesciunt architecto, dolores, autem optio! Laboriosam reprehenderit laborum provident alias, esse!
        </div>
      </div>
    </div>
  </div>

  <!---->

  <hr>

  <div class="row">
    <div class="title-actividad" align="center">
      Visita al barco de col&oacute;n
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="content-image-actividad">
        <img src="@Url.Content("~/Images/Lugares/barco_colon.jpg")" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Duraci&oacute;n:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            3 horas
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Estado:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            Inactivo
          </div>
        </div>

      </div>

      <div class="row">
        <div class="title-descripcion-actividad">Descripci&oacute;n</div>
        <div class="text-descripcion-actividad">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus reiciendis repellendus perspiciatis doloremque neque, totam quos cupiditate saepe, qui? Dolorem officia provident sit aut. Dolorum placeat iure aut ipsa impedit repellendus est tenetur velit quas illo suscipit sit, saepe nesciunt architecto, dolores, autem optio! Laboriosam reprehenderit laborum provident alias, esse!
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="title-actividad" align="center">
      Canchas multiusos
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="content-image-actividad">
        <img src="@Url.Content("~/Images/Lugares/canchas.jpg")" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Duraci&oacute;n:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            3 horas
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Estado:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            Activo
          </div>
        </div>

      </div>

      <div class="row">
        <div class="title-descripcion-actividad">Descripci&oacute;n</div>
        <div class="text-descripcion-actividad">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus reiciendis repellendus perspiciatis doloremque neque, totam quos cupiditate saepe, qui? Dolorem officia provident sit aut. Dolorum placeat iure aut ipsa impedit repellendus est tenetur velit quas illo suscipit sit, saepe nesciunt architecto, dolores, autem optio! Laboriosam reprehenderit laborum provident alias, esse!
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="title-actividad" align="center">
      &Aacute;reas verdes
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="content-image-actividad">
        <img src="@Url.Content("~/Images/Lugares/areas_verdes.jpg")" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Duraci&oacute;n:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            3 horas
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-2">
          <div class="title-duracion-actividad">
            Estado:
          </div>
        </div>

        <div class="col-md-2">
          <div class="text-descripcion-actividad">
            Inactivo
          </div>
        </div>

      </div>

      <div class="row">
        <div class="title-descripcion-actividad">Descripci&oacute;n</div>
        <div class="text-descripcion-actividad">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus reiciendis repellendus perspiciatis doloremque neque, totam quos cupiditate saepe, qui? Dolorem officia provident sit aut. Dolorum placeat iure aut ipsa impedit repellendus est tenetur velit quas illo suscipit sit, saepe nesciunt architecto, dolores, autem optio! Laboriosam reprehenderit laborum provident alias, esse!
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row" align="center">
    <a href="@Url.Action("LugarDetail", "Lugares")">
      <button class="btn btn-lugar-turistico-actividad">Regresar</button>
    </a>
  </div>

</div>
