@Styles.Render("~/bundles/lugares_addCSS")
@Styles.Render("~/bundles/lugares_modifyCSS")

<div class="row">
  <div class="content-form card">
    <br><br>

    <form class="form-horizontal">
      <div class="form-group form-group-imagen-lugar">
        <label class="col-sm-2 control-label" for="perfilphoto">Im&aacute;gen del lugar</label>
        <input class="col-sm-6" type="file" id="perfilphoto" name="lugarFoto">
        <p class="help-block col-sm-9">La foto seleccionada se ver&aacute; en el lugar tur&iacute;stico</p>
      </div>
      
      <div class="row row-nombre-costo-estado">

        <div class="col-md-4">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label" style="margin-left: -3%; margin-right: 3%;">Nombre</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="Nombre lugar turístico..." value="@Model.Nombre" name="Nombre">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="number" class="col-sm-2 control-label">Costo</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="costo" placeholder="ej. 120" value="@Model.Costo" name="Costo">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="category" class="col-sm-4 control-label">Estado</label>
            <div class="col-sm-8">
              <select class="form-control" id="category" name="activar">
                <option selected disabled>Elige una estado</option>
                <option value="true" selected= "@if (Model.Activar) { <text>true</text> }">Activo</option>
                <option value="false" selected= "@if (!Model.Activar) { <text>true</text> }">Inactivo</option>
              </select>
            </div>
          </div>
        </div>
      </div>


       <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 ifass="panel-title">

                  <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Categor&iacute;as y Subcategor&iacute;as
                  </div>

                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                  <div class="row">

                    <div class="col-md-5">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria">
                            <option selected disabled>Elige una categor&iacute;a</option>

                            @foreach (var categoria in ViewBag.Categoria)
                            {
                              <option>@categoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="subcategoria" class="col-sm-4 control-label">Sub-Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="subcategoria">
                            <option selected disabled>Elige una sub-categor&iacute;a</option>

                            @foreach (var subCategoria in ViewBag.SubCategoria)
                            {
                              <option>@subCategoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-5">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria">
                            <option selected disabled>Elige una categor&iacute;a</option>

                            @foreach (var categoria in ViewBag.Categoria)
                            {
                              <option id="@categoria.Id">@categoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="subcategoria" class="col-sm-4 control-label">Sub-Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="subcategoria">
                            <option selected disabled>Elige una sub-categor&iacute;a</option>

                            @foreach (var subCategoria in ViewBag.SubCategoria)
                            {
                              <option id="@subCategoria.Id">@subCategoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-5">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria">
                            <option selected disabled>Elige una categor&iacute;a</option>

                            @foreach (var categoria in ViewBag.Categoria)
                            {
                              <option id="@categoria.Id">@categoria.Nombre</option>
                            }
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="subcategoria" class="col-sm-4 control-label">Sub-Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="subcategoria">
                            <option selected disabled>Elige una sub-categor&iacute;a</option>

                            @foreach (var subCategoria in ViewBag.SubCategoria)
                            {
                              <option id="@subCategoria.Id">@subCategoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-5">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria">
                            <option selected disabled>Elige una categor&iacute;a</option>

                            @foreach (var categoria in ViewBag.Categoria)
                            {
                              <option id="@categoria.Id">@categoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="subcategoria" class="col-sm-4 control-label">Sub-Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="subcategoria">
                            <option selected disabled>Elige una sub-categor&iacute;a</option>

                            @foreach (var subCategoria in ViewBag.SubCategoria)
                            {
                              <option id="@subCategoria.Id">@subCategoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-5">
                      <div class="form-group ">
                        <label for="categoria" class="col-sm-4 control-label">Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="categoria">
                            <option selected disabled>Elige una categor&iacute;a</option>

                            @foreach (var categoria in ViewBag.Categoria)
                            {
                              <option id="@categoria.Id">@categoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="subcategoria" class="col-sm-4 control-label">Sub-Categor&iacute;a</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="subcategoria">
                            <option selected disabled>Elige una sub-categor&iacute;a</option>

                            @foreach (var subCategoria in ViewBag.SubCategoria)
                            {
                              <option id="@subCategoria.Id">@subCategoria.Nombre</option>
                            }


                          </select>
                        </div>
                      </div>
                    </div>

                  </div>                 


                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">

                  <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Horarios
                    <i class="fa fa-calendar icon-horario-actividad" aria-hidden="true"></i>
                  </div>

                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia">
                          <option selected disabled>Elige d&iacute;a</option>
                          <option id="1">Lunes</option>
                          <option id="2">Martes</option>
                          <option id="3">Miercoles</option>
                          <option id="4">Jueves</option>
                          <option id="5">Viernes</option>
                          <option id="6">Sabado</option>
                          <option id="0">Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia">
                          <option selected disabled>Elige d&iacute;a</option>
                          <option>Lunes</option>
                          <option>Martes</option>
                          <option>Miercoles</option>
                          <option>Jueves</option>
                          <option>Viernes</option>
                          <option>Sabado</option>
                          <option>Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia">
                          <option selected disabled>Elige d&iacute;a</option>
                          <option>Lunes</option>
                          <option>Martes</option>
                          <option>Miercoles</option>
                          <option>Jueves</option>
                          <option>Viernes</option>
                          <option>Sabado</option>
                          <option>Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia">
                          <option selected disabled>Elige d&iacute;a</option>
                          <option>Lunes</option>
                          <option>Martes</option>
                          <option>Miercoles</option>
                          <option>Jueves</option>
                          <option>Viernes</option>
                          <option>Sabado</option>
                          <option>Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia">
                          <option selected disabled>Elige d&iacute;a</option>
                          <option>Lunes</option>
                          <option>Martes</option>
                          <option>Miercoles</option>
                          <option>Jueves</option>
                          <option>Viernes</option>
                          <option>Sabado</option>
                          <option>Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia">
                          <option selected disabled>Elige d&iacute;a</option>
                          <option>Lunes</option>
                          <option>Martes</option>
                          <option>Miercoles</option>
                          <option>Jueves</option>
                          <option>Viernes</option>
                          <option>Sabado</option>
                          <option>Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row row-horarios">

                    <div class="col-md-3">
                      <div class="form-group-horario-dia">
                        <label for="name" class="control-label">D&iacute;a</label>
                        <select class="form-control" id="dia">
                          <option selected disabled>Elige d&iacute;a</option>
                          <option>Lunes</option>
                          <option>Martes</option>
                          <option>Miercoles</option>
                          <option>Jueves</option>
                          <option>Viernes</option>
                          <option>Sabado</option>
                          <option>Domingo</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="apertura" class="control-label">Horario Apertura</label>
                        <div>
                          <input type="time" class="form-control" id="apertura" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group form-group-horario">
                        <label for="cierre" class="control-label">Horario Cierre</label>
                        <div>
                          <input type="time" class="form-control" id="cierre" placeholder="horario del lugar turístico...">
                        </div>
                      </div>
                    </div>
                  </div>

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">

        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  
                    <div class="title-actividades text-center" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Actividades
                      <i class="fa fa-pencil icon-add-actividad" aria-hidden="true"></i>
                    </div>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <form class="form-inline">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label class="control-label" for="actividadphoto">Im&aacute;gen Actividad</label>
                          <figure class="imagen-actividad-modificar">
                            <img class="img-actividad" src="assets/img/areas_verdes.jpg" alt="">
                          </figure>
                          <div class="text-imagen-actividad">
                            Para cambiar la im&aacute;gen dar click sobre ella.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label for="exampleInputName2">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="ej. Disneyland" value="Paseo por el parque">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInput">Descripci&oacute;n</label>
                          <textarea class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</textarea>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label class="control-label" for="actividadphoto">Im&aacute;gen Actividad</label>
                          <figure class="imagen-actividad-modificar">
                            <img class="img-actividad" src="assets/img/barco_colon.jpg" alt="">
                          </figure>
                          <div class="text-imagen-actividad">
                            Para cambiar la im&aacute;gen dar click sobre ella.
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label for="exampleInputName3">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName3" placeholder="ej. Disneyland"  value="Visita barco de colón">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInput2">Descripci&oacute;n</label>
                          <textarea class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</textarea>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label class="control-label" for="actividadphoto">Im&aacute;gen Actividad</label>
                          <figure class="imagen-actividad-modificar">
                            <img class="img-actividad" src="assets/img/lanchitas.jpg" alt="">
                          </figure>
                          <div class="text-imagen-actividad">
                            Para cambiar la im&aacute;gen dar click sobre ella.
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label for="exampleInputName4">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName4" placeholder="ej. Disneyland"  value="Paseo en lanchas a pedal">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInput3">Descripci&oacute;n</label>
                          <textarea class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</textarea>
                        </div>
                      </div>
                    </div>

                    <hr>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label class="control-label" for="actividadphoto">Im&aacute;gen Actividad</label>
                          <figure class="imagen-actividad-modificar">
                            <img class="img-actividad" src="assets/img/canchas.jpg" alt="">
                          </figure>
                          <div class="text-imagen-actividad">
                            Para cambiar la im&aacute;gen dar click sobre ella.
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad">
                          <label for="exampleInputName5">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName5" placeholder="ej. Disneyland"  value="Juegos multiples en canchas">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-actividad-descripcion">
                          <label for="exampleInput4">Descripci&oacute;n</label>
                          <textarea class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</textarea>
                        </div>
                      </div>
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="title-direccion">Contacto</div>

        <div class="row">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Direcci&oacute;n</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="Ingrese direcci&oacute;n..." value="@Model.Direccion" name="Direccion">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="form-group form-group-correo">
              <label for="email" class="col-sm-2 control-label">Correo</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com" value="@Model.Correo" name="Correo">
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group form-group-telefono">
              <label for="telefono" class="col-sm-2 control-label">Tel&eacute;fono</label>
              <div class="col-sm-9">
                <input type="tel" class="form-control" id="telefono" placeholder="N&uacute;mero de tel&eacute;fono..." value="@Model.Telefono" name="Telefono">
              </div>
            </div>  
          </div>

        </div>

        <div class="row">
          <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Descripci&oacute;n</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="4" name="Descripcion">@Model.Descripcion</textarea>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-5">
            <label for="latitud" class="col-sm-2 control-label label-latitud">Latitud(GD)</label>
            <input type="text" id="latitud" name="Latitud"/>
          </div>
          <div class="col-md-5">
            <label for="longitud" class="col-sm-2 control-label label-longitud">Longitud(GD)</label>
            <div class="col-sm-9">
              <input type="text" id="longitud" name="Longitud"/>
            </div>
          </div>

          <div id="map" class="text-center"></div>

        </div>

        <div class="form-group">
          <div class="col-sm-12" align="center">
            <a href="@Url.Action("ViewAll", "Lugares")">
              <button class="btn btn-lugar-turistico-add">Guardar Cambios</button>
            </a>
          </div>
        </div>

      </div>

      
        
    </form>
  </div>
</div>

@Scripts.Render("~/bundles/Lugares_delete-line-tableJS")
@Scripts.Render("~/bundles/Lugares_insert-line-tableJS")
@Scripts.Render("~/bundles/Lugares_insert-coordsJS")
@Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyBLZJfuHODaUCPcVW8GwMW6nCXcm3SldgY&callback=initMap")
