@Styles.Render("~/bundles/lugares_viewallCSS")

<a href="@Url.Action("Create", "Lugares")">
  <i class="fa fa-plus-circle icon-add-lugar" aria-hidden="true"></i>
</a>

<div class="row first-row-lugares">

  <!-- Tabla -->

  @foreach (var lugar in Model)
  {

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="content-box-lugar card" id="lu-box-one">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        
          <div class="carousel-inner" role="listbox">

            @foreach (var fotos in
              lugar.Foto)
            {
                <div class="item @if (fotos == lugar.Foto[0]) { <text>active</text> }">
                  <img src="@fotos.Ruta" alt="">
                <div class="carousel-caption"></div>
                </div>
            }

          </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
        
     </div>
        


          <div class="content-box-info">

            <div class="row">
              <div class="name-lugar-turistico" align="center" id="lu-nombre-one">@lugar.Nombre</div>
            </div>

            <hr>

            <div class="row">
              <div class="col-md-4">
                <div class="subtitle-lugar-turistico">
                  Horario:
                </div>
              </div>
              <div class="col-sm-8">
                @foreach (var horarios in lugar.Horario)
                {
                <div class="text-info-lugar-turistico" id="lu-horario-one">
                  @horarios.HoraApertura.ToString("hh\\:mm") - @horarios.HoraCierre.ToString("hh\\:mm")
                </div>
                }
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="subtitle-lugar-turistico">
                  Costo:
                </div>
              </div>
              <div class="col-sm-8">
                <div class="text-info-lugar-turistico" id="lu-costo-one">
                  @if(@lugar.Costo == 0)
                  {
                    <text>Entrada libre</text>
                  }
                  else
                  {
                    <text>BsF. @lugar.Costo</text>
                  }
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="subtitle-lugar-turistico">
                  Descripci&oacute;n:
                </div>
              </div>
            </div>

            <div class="row">
              <div class="text-descripcion-lugar-turistico" id="lu-descripcion-one">
                @lugar.Descripcion
              </div>
            </div>

            <hr>

            <!-- Botonsitos-->

            

            <div class="row">
              <form method="post" action="ViewAll">
                <input class="ocultar" type="text" name="id" value="@lugar.Id" />
                <input class="ocultar" type="text" name="activar" value="@if (lugar.Activar) {<text>True</text>} else { <text>False</text> } " />
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="@Url.Action("Modify", "Lugares", new { id = lugar.Id } )">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="@Url.Action("LugarDetail", "Lugares", new { id = lugar.Id })">
                      <i class="fa fa-eye icon-detail" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <input type="Submit" value="Estado">
                      <i id="lu-status-one" class="fa fa-circle @if (lugar.Activar)
                                                              {
                                                                <text>active</text>
                                                              }
                                                              else
                                                              {
                                                                <text>inactive</text>
                                                              }" aria-hidden="true">
          
                      </i>
                  </li>
                </ul>
              </form>
            </div>

            <!--Botonsitos-->

      </div>
     </div>
    </div>

  }


</div>
  <!-- Tabla -->
  



@section scripts {
  @Scripts.Render("~/bundles/Lugares_change-statusJS")
}
