<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - COCO-TRIP </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div id="wrapper">

        <div class="container-fluid">
          <div class="row">
            <div class="col-3">
              <!-- /. NAV TOP  -->
              <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                  <ul class="nav" id="main-menu">

                    <div class="logo-sidebar" align="center">
                      <img src="/logo_sidebar.png" alt="">
                    </div>
                    <!--
                    <li class="active-link">
                      <a href="~/Home/Index.cshtml"><i class="fa fa-desktop "></i>Dashboard</a>
                    </li>-->
                    <li class="active-link">
                      @Html.ActionLink("Inicio", "Index", "Home")
                    </li>

                    <li data-toggle="collapse" data-target="#products" class="collapsed active">
                      <a href="#"><i class="fa fa-map-o" aria-hidden="true"></i> Lugar Turístico <span class="arrow"></span></a>
                      <ul class="sub-menu collapse" id="products">
                        <li class="active"><a href="#"><i class="fa fa-eye icon-see-sidebar" aria-hidden="true"></i>Ver Todos</a></li>
                        <li><a href="#"><i class="fa fa-plus icon-add-sidebar" aria-hidden="true"></i>Agregar</a></li>
                      </ul>

                    </li>
                    

                    <li data-toggle="collapse" data-target="#localidades" class="collapsed active">

                      <a href="#"><i class="fa fa-map-o" aria-hidden="true"></i> Localidades <span class="arrow"></span></a>
                      <ul class="sub-menu collapse" id="localidades">
                        <li class="active">
                        

                        @Html.ActionLink("Ver todos", "ConsultarLocalidad", "Localidad")
                        <li>
                          @Html.ActionLink("Agregar", "CrearLocalidad", "Localidad")
                        </li>
                      </ul>

                    </li>
                        
                    <li data-toggle="collapse" data-target="#eventos" class="collapsed active">
                      <a href="#"><i class="fa fa-map-o" aria-hidden="true"></i> Eventos <span class="arrow"></span></a>
                      <ul class="sub-menu collapse" id="eventos">
                        <li class="active"><a href="#"><i class="fa fa-eye icon-see-sidebar" aria-hidden="true"></i>Ver Todos</a></li>
                        <li><a href="#"><i class="fa fa-plus icon-add-sidebar" aria-hidden="true"></i>Agregar</a></li>
                      </ul>

                    </li>
                        
                    
                  </ul>
                </div>

              </nav>
              <!-- /. NAV SIDE  -->
            </div>

            <div class="col-9">
              <div id="page-wrapper">
                <div id="page-inner">

                  <div class="content-page">
                    <!-- PAGINAS -->
                    @RenderBody()
                  </div>

                </div>
                <!-- /. PAGE INNER  -->
              </div>
              <!-- /. PAGE WRAPPER  -->
            </div>

          </div>
        </div>

  </div>

  <div class="footer">


    <div class="row">
      <div class="col-lg-12">
        &copy;  2017 COCO_TRIP | UCAB
      </div>
    </div>
  </div>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
